---
import { primaryColor } from "../css/common";
---

<header>
    <div class="navs" style="justify-content: space-around;">
        <a href="/">
            <img src="/logo192.png" alt="logo" />
        </a>

        <span>
            <a href="/#mobile-app">Mobile App</a>
        </span>
        <span>
            <a href="/#schools-testimonials">Schools</a>
        </span>
        <span>
            <a href="/#schools-testimonials">Testimonials</a>
        </span>
    </div>

    <div style="flex: 2; text-align: center;">
        <img style="height: 170px; width: 170px;" src="/intramulogo.png" alt="logo" />
    </div>
    <div class="navs" style="justify-content: space-between;">
        <span>
            <a href="/about">About Us</a>
        </span>
        <span>
            <a href="/">Contact Us</a>
        </span>
        <span>
            <button class="button" id="signup">Sign up</button>
            OR
            <button class="button" id="login">Login</button>
        </span>
    </div>
</header>

<script>
    const {
        PUBLIC_DOMAIN,
        PUBLIC_CLIENT_ID,
        PUBLIC_REDIRECT_URI,
        PUBLIC_RESPONSE_TYPE,
        PUBLIC_SCOPE,
        PUBLIC_ADDITIONAL_PARAMS,
    } = import.meta.env;

    const loginUrl = `https://${PUBLIC_DOMAIN}/authorize?response_type=${PUBLIC_RESPONSE_TYPE}&client_id=${PUBLIC_CLIENT_ID}&redirect_uri=${PUBLIC_REDIRECT_URI}&scope=${PUBLIC_SCOPE}${
        PUBLIC_ADDITIONAL_PARAMS ?? ""
    }`;

    const signupUrl = loginUrl.concat("&screen_hint=signup");

    document.getElementById("login")!.addEventListener("click", () => {
        window.location.href = loginUrl;
    });

    document.getElementById("signup")!.addEventListener("click", () => {
        window.location.href = signupUrl;
    });
</script>

<style define:vars={{ primaryColor }}>
    header {
        flex: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    a {
        color: var(--primaryColor);
    }

    #signup {
        color: var(--primaryColor);
        border-radius: 16px;
        margin: 0 8px;
        border: 1px solid var(--primaryColor);
    }

    #login {
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        border-radius: 16px;
        color: white;
        margin: 0 8px;
    }
    #login:hover {
        background-color: #00000099;
    }

    img {
        margin-left: 0.4em;
    }
    .navs {
        display: flex;
        align-items: center;
        flex: 2;
    }
    .navs img {
        max-width: 20px;
        max-height: 20px;
    }
</style>
